:root {
  --bg-primary: #141414;
  --bg-card: #1e1e1e;
  --color-marvel: #E24B4A;
  --color-dc: #378ADD;
  --color-bandai: #EF9F27;
  --color-capcom: #639922;
  --color-favorite: #D4537E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: #ffffff;
  font-family: sans-serif;
}